@charset "UTF-8";
body {
  font-family: var(--bladehub-content-font-family);
  font-size: var(--bladehub-content-font-size);
  line-height: var(--bladehub-content-line-height);
  font-weight: var(--bladehub-content-font-weight);
  color: var(--bladehub-content-color);
  background-color: var(--body-background-color, unset);
}

h1, h1.elementor-heading-title, h2, h2.elementor-heading-title, h3, h3.elementor-heading-title, h4, h4.elementor-heading-title, h5, h5.elementor-heading-title, h6, h6.elementor-heading-title {
  font-family: var(--bladehub-header-font-family);
  font-weight: var(--bladehub-header-font-weight);
  color: var(--bladehub-header-font-color);
}
h1 span,
h1 a, h1.elementor-heading-title span,
h1.elementor-heading-title a, h2 span,
h2 a, h2.elementor-heading-title span,
h2.elementor-heading-title a, h3 span,
h3 a, h3.elementor-heading-title span,
h3.elementor-heading-title a, h4 span,
h4 a, h4.elementor-heading-title span,
h4.elementor-heading-title a, h5 span,
h5 a, h5.elementor-heading-title span,
h5.elementor-heading-title a, h6 span,
h6 a, h6.elementor-heading-title span,
h6.elementor-heading-title a {
  font: inherit;
  color: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
}

h1, h1.elementor-heading-title {
  font-family: var(--bladehub-h1-font-family);
  font-size: var(--bladehub-h1-font-size);
  line-height: var(--bladehub-h1-line-height);
  font-weight: var(--bladehub-h1-font-weight);
  text-transform: var(--bladehub-h1-text-transform);
  letter-spacing: var(--bladehub-h1-letter-spacing);
}

h2, h2.elementor-heading-title {
  font-family: var(--bladehub-h2-font-family);
  font-size: var(--bladehub-h2-font-size);
  line-height: var(--bladehub-h2-line-height);
  font-weight: var(--bladehub-h2-font-weight);
  text-transform: var(--bladehub-h2-text-transform);
  letter-spacing: var(--bladehub-h2-letter-spacing);
}

h3, h3.elementor-heading-title {
  font-family: var(--bladehub-h3-font-family);
  font-size: var(--bladehub-h3-font-size);
  line-height: var(--bladehub-h3-line-height);
  font-weight: var(--bladehub-h3-font-weight);
  text-transform: var(--bladehub-h3-text-transform);
  letter-spacing: var(--bladehub-h3-letter-spacing);
}

h4, h4.elementor-heading-title {
  font-family: var(--bladehub-h4-font-family);
  font-size: var(--bladehub-h4-font-size);
  line-height: var(--bladehub-h4-line-height);
  font-weight: var(--bladehub-h4-font-weight);
  text-transform: var(--bladehub-h4-text-transform);
  letter-spacing: var(--bladehub-h4-letter-spacing);
}

h5, h5.elementor-heading-title {
  font-family: var(--bladehub-h5-font-family);
  font-size: var(--bladehub-h5-font-size);
  line-height: var(--bladehub-h5-line-height);
  font-weight: var(--bladehub-h5-font-weight);
  text-transform: var(--bladehub-h5-text-transform);
  letter-spacing: var(--bladehub-h5-letter-spacing);
}

h6, h6.elementor-heading-title {
  font-family: var(--bladehub-h6-font-family);
  font-size: var(--bladehub-h6-font-size);
  line-height: var(--bladehub-h6-line-height);
  font-weight: var(--bladehub-h6-font-weight);
  text-transform: var(--bladehub-h6-text-transform);
  letter-spacing: var(--bladehub-h6-letter-spacing);
}

body.elementor-page main .wgl-container.wgl-content-sidebar,
body.elementor-editor-active main .wgl-container.wgl-content-sidebar,
body.elementor-editor-preview main .wgl-container.wgl-content-sidebar {
  max-width: var(--bladehub-elementor-container-width);
  margin-left: auto;
  margin-right: auto;
}

body.single main .wgl-container {
  max-width: var(--bladehub-elementor-container-width);
  margin-left: auto;
  margin-right: auto;
}

/* ==================== ↓ Content Font ==================== */
label,
.author-widget_text,
.tagcloud,
.wp-block-tag-cloud,
body .comment-form-cookies-consent > label,
.elementor-widget-wgl-time-line-vertical .time_line-content .time_line-text,
.single_meta .social-shares-wrapper > span.share_title,
.social-shares-wrapper > span,
.wp-block-latest-posts__post-author,
.calendar_wrap caption,
.widget_rss li .rssSummary,
.widget_rss li cite,
.widget_text .textwidget,
.single-team .single_team_page .team-info_item h5,
.wgl-portfolio-single_wrapper .wgl-portfolio-item_cats,
.wgl-working-hours .working-item .working-item_day,
.wgl-working-hours .working-item .working-item_hours,
.post_meta-bottom,
body .comment-form-cookies-consent > input[type=checkbox] + label {
  font-family: var(--bladehub-content-font-family);
}

.elementor-widget-wgl-time-line-vertical .time_line-content .time_line-text {
  font-weight: var(--bladehub-content-font-weight);
}

.theme-content-color,
.widget_rss .rssSummary,
.widget .recent-post-content,
.wgl-carousel .vertical_navigation,
#comments .comment-notes {
  color: var(--bladehub-content-color);
}

.bladehub_module_title .external_link .button-read-more {
  line-height: var(--bladehub-content-line-height);
}

/* ==================== ↓ Heading Font ==================== */
.blog-post_cats,
.blog-posts .blog-post_title,
.column1 .item_title a,
.bladehub_twitter .twitt_title,
.tagcloud-wrapper .title_tags,
.strip_template .strip-item a span,
.single_team_page .team-single_speaches-info .speech-info_desc span,
.wgl_module_team .team-item_excerpt,
.shortcode_tab_item_title,
.index_number,
.primary-nav.footer-menu .menu-item a,
.archive__heading .archive__tax_description,
.wgl-header-date {
  font-family: var(--bladehub-header-font-family);
}

.theme-header-font,
legend,
.banner_404,
.blog-post_text-bg,
.mashsb-count .counts,
.mashsb-box .mashsb-buttons a .text,
.heading_subtitle,
.info_prev-link_wrapper a,
.info_next-link_wrapper a,
.wgl-portfolio-item_cats,
.elementor-drop-cap,
.elementor-counter,
.single_team_page .highlighted,
.single-team .single_team_page .team-info_item.department,
.elementor-widget-wgl-info-box .wgl-infobox .wgl-infobox_subtitle,
.single_post_info .share_post-container .share_post-title {
  font-family: var(--bladehub-header-font-family);
}

.banner_404,
.author-info_public,
.wgl-portfolio-single_item .tagcloud .tagcloud_desc,
.wgl-portfolio-single_item .social-shares-wrapper .share_title,
.wpcf7 .wgl-custom-form input[type=submit] {
  font-family: var(--bladehub-header-font-family);
  color: var(--bladehub-header-font-color);
}

a:hover,
.theme-header-color,
body select option,
button,
blockquote,
h3#reply-title a,
.calendar_wrap tbody,
.search-field,
.tagcloud-wrapper .title_tags,
div.elementor-widget-heading .elementor-heading-title,
.share_social-wpapper .share_social-title,
.item_title a,
.single_meta .social-shares-wrapper > span.share_title,
.social-shares-wrapper > span,
.author-info_social-wrapper .author-info_social-link.fa,
.wgl-header-row-section_top a:hover,
.wgl_module_team .team__image-wrapper .team__icons .team-icon:hover,
.post-type-archive-team .team-icon,
.single-team .single_team_page .team__icons .team-icon:hover,
.header_search.search_standard .header_search-field .search-form::after,
.post_meta-bottom,
#comments ~ #review_form_wrapper #respond,
.author-info_social-link:hover {
  color: var(--bladehub-header-font-color);
}

.widget ul li,
.calendar_wrap thead,
.wp-block-calendar thead,
ul.wp-block-archives li a,
ul.wp-block-categories.wp-block-categories-list li a,
ul.wp-block-latest-posts li a,
.widget ul.wp-block-latest-posts li a:hover,
.widget.widget_recent_entries ul li a:hover,
ul.wp-block-rss li,
.wp-block-latest-comments__comment .wp-block-latest-comments__comment-meta,
.widget_search .search-form::after,
.widget_search .woocommerce-product-search::after,
.widget_product_search .search-form::after,
.widget_product_search .woocommerce-product-search::after,
.wp-block-calendar #today > a:hover,
.wp-block-calendar tfoot a:hover {
  color: var(--bladehub-header-font-color);
}

.widget_search .search-form:hover::after,
.widget_search .woocommerce-product-search:hover::after,
.widget_product_search .search-form:hover::after,
.widget_product_search .woocommerce-product-search:hover::after,
.page-link .post-page-numbers::after,
.highlighter.header {
  background-color: var(--bladehub-header-font-color);
}

.wpcf7 .faq .submit-wrapper:hover::after {
  background-color: var(--bladehub-header-font-color);
}

/* ==================== ↓ Extra ==================== */
.primary-nav > div > ul,
.primary-nav > ul,
.sitepress_container > .wpml-ls li,
.polylang_switcher select {
  font-family: var(--bladehub-menu-font-family);
  font-size: var(--bladehub-menu-font-size);
  line-height: var(--bladehub-menu-line-height);
  font-weight: var(--bladehub-menu-font-weight);
  letter-spacing: var(--bladehub-menu-letter-spacing);
}

.primary-nav ul li > ul,
.primary-nav ul li > ul ul,
.wpml-ls,
.sitepress_container > .wpml-ls ul ul li,
.primary-nav ul li div.mega-menu-container:not(.wgl-e-container),
.elementor-widget-wgl-menu.menu_vertical .primary-nav > ul {
  font-family: var(--bladehub-submenu-font-family);
  font-size: var(--bladehub-submenu-font-size);
  line-height: var(--bladehub-submenu-line-height);
  font-weight: var(--bladehub-submenu-font-weight);
  letter-spacing: var(--bladehub-submenu-letter-spacing);
}

.primary-nav ul li div.mega-menu-container.wgl-e-container {
  font-family: var(--bladehub-content-font-family);
  font-size: var(--bladehub-content-font-size);
  line-height: var(--bladehub-content-line-height);
  font-weight: var(--bladehub-content-font-weight);
  color: var(--bladehub-content-color);
  letter-spacing: 0;
}

.wgl-theme-header .header_search-field,
.primary-nav ul li ul,
.primary-nav ul li div.mega-menu-container,
.wgl-theme-header .woo_mini_cart,
.wpml-ls-legacy-dropdown .wpml-ls-current-language .wpml-ls-sub-menu {
  color: var(--bladehub-submenu-color);
  background-color: var(--bladehub-submenu-background);
}

.mobile_nav_wrapper,
.wgl-menu_outer,
.mobile_nav_wrapper .primary-nav ul li ul.sub-menu,
.mobile_nav_wrapper .primary-nav ul li div.wgl-e-container.mega-menu-container,
.mobile_nav_wrapper .primary-nav ul li.mega-menu-links > ul.mega-menu > li > ul > li ul,
.mobile_nav_wrapper .primary-nav ul li.mega-menu-links > ul.mega-menu > li > ul {
  color: var(--bladehub-submenu-mobile-color);
  background-color: var(--bladehub-submenu-mobile-background);
}

.mobile_nav_wrapper .wgl-menu_overlay {
  background-color: var(--bladehub-submenu-mobile-overlay);
}

#side-panel .widget .title {
  color: var(--bladehub-sidepanel-title-color);
}

/* ==================== ↓ Primary Color ==================== */
.theme-primary-color,
a,
a:hover .wgl-icon,
.wgl-icon:hover,
h3#reply-title a:hover,
header.searсh-header .page-title span,
#comments > h3 span,
#comments .comment-edit-link,
.blog-post_title i,
.blog-post.format-standard.link .blog-post_title::before,
.comment-respond .comment-form a:hover,
#comments .comment-edit-link:hover,
.copyright a:hover,
.bladehub_submit_wrapper:hover > i,
.bladehub_custom_button i,
.bladehub_custom_text a,
.bladehub_twitter a,
.header_search .header_search-button > i:hover,
.header_search-field .search-form::after,
.mc_form_inside #mc_signup_submit:hover,
.share_link span.fa:hover,
.share_post span.fa:hover,
.wpml-ls a:hover,
.wpml-ls-legacy-dropdown .wpml-ls-current-language:hover > a,
.wpml-ls-legacy-dropdown .wpml-ls-current-language a:hover,
.format-quote .blog-post_wrapper .blog-post_media_part::before,
.blog-post_link .link_post:hover,
.share_post-container:hover i,
code,
tt,
kbd,
ul.wp-block-archives.wp-block-archives-list li::before,
ul.wp-block-latest-posts li a:hover,
.wgl-page-socials .social__link:hover,
.wgl-page-socials .social__name,
.archive__tax_title > span,
.author-info_social-link {
  color: var(--bladehub-primary-color);
}

.single-team .single_team_page .team-info_item.department,
.single-team .single_team_page .team__icons .team-icon,
.wgl_module_team .team__image-wrapper .team__icons .team-icon,
.wgl-services-2 .wgl-services_media-wrap .elementor-icon,
.wp-block-latest-comments__comment .wp-block-latest-comments__comment-meta a:hover {
  color: var(--bladehub-primary-color);
}

.bladehub_widget > ul li:hover::before,
.widget_rss ul li .rsswidget:hover,
.widget_recent_entries ul li .post-date,
.widget_nav_menu li.current-menu-ancestor > a,
.widget_nav_menu li.current-menu-item > a,
.widget ul li a:hover,
.widget ul li.current-cat > a,
.widget_recent_entries > ul > li > a:hover::before,
ul.wp-block-latest-posts li a:hover::before,
.widget_meta.widget > ul li a:hover::before,
.wp-block-calendar tfoot a,
.wp-block-rss a:hover {
  color: var(--bladehub-primary-color);
}

.primary-nav ul li.mega-menu.mega-cat div.mega-menu-container ul.mega-menu.cats-horizontal > li.is-active > a,
.mobile_nav_wrapper .primary-nav > ul > li > a > span::after,
.primary-nav ul li[class*=current] > a .item_text::before,
.primary-nav ul li a:hover .item_text::before {
  background: var(--bladehub-primary-color);
}

header .header-link:hover {
  color: var(--bladehub-primary-color) !important;
}

/* ==================== ↓ Background ==================== */
#multiscroll-nav span,
#multiscroll-nav li .active span,
.share_post-container .share_post:hover .fab,
.wpml-ls-legacy-dropdown .wpml-ls-sub-menu .wpml-ls-item a span::before,
.woocommerce nav.woocommerce-pagination ul li span.current::after,
.wgl_module_team .team__icons:hover .team__icons-plus,
.wgl_module_team .team__icons-plus::before,
.wgl_module_team .team__icons-plus::after,
.footer .wpcf7 .footer-submit:hover::before,
.team-single_wrapper.team-morph::before,
.wgl_module_team.team-morph .team-item_wrap:hover::before,
.blog-post_wrapper .blog-post_footer::before {
  background: var(--bladehub-primary-color);
}

#comments > h3::after,
button:hover,
.header_search .header_search-field .header_search-button-wrapper,
.header_search.search_mobile_menu .header_search-field .search-form::after,
.header_search.search_standard .header_search-field .header_search-close,
.sitepress_container > .wpml-ls ul ul li a:hover::after,
.calendar_wrap caption,
.bladehub_module_title::after,
.mc_form_inside #mc_signup_submit,
.wgl-ellipsis span,
.wgl-page-socials .social__link.custom {
  background-color: var(--bladehub-primary-color);
}

aside > .widget + .widget::before,
.widget_meta ul li a:hover::after,
.widget .calendar_wrap table td#today::before,
.wp-block-calendar table td#today::before,
.widget .calendar_wrap tbody td > a::before,
.wp-block-calendar tbody td a::before,
.widget_postshero .recent-posts-widget .post_cat a,
.widget_nav_menu .current-menu-item > a::before,
.widget_nav_menu .current-menu-ancestor > a::before,
.wp-block-calendar table caption,
.widget_nav_menu .menu a:hover::before,
.widget_nav_menu > ul a:hover::before,
.widget_pages .menu a:hover::before,
.widget_pages > ul a:hover::before {
  background-color: var(--bladehub-primary-color);
}

/* ==================== ↓ Border ==================== */
.header_search,
.author-info_social-link::after,
.social-shares-wrapper .share_link .share-icon_animation {
  border-color: var(--bladehub-primary-color);
}

/* ==================== ↓ Secondary Color ==================== */
.theme-secondary-color,
ul.bladehub_check.secondary li::before,
.wgl_module_team .team__icons .team-icon:first-child,
.wgl_module_team .team-title:hover,
.archive__heading .archive__tax_description,
.wgl_module_team .team-item_excerpt,
.blog-post_wrapper:hover::before {
  color: var(--bladehub-secondary-color);
}

ul.bladehub_dot.secondary li::before,
.wgl_module_team .team__icons .team-icon:hover,
.wgl_module_team .team-item_wrap:hover .team__icons .team-icon:first-child,
body .comment-respond .form-submit .wgl-button::before,
.header_search.search_standard .header_search-field .header_search-close:hover,
.woocommerce nav.woocommerce-pagination ul li span::after,
.woocommerce nav.woocommerce-pagination ul li a::after {
  background-color: var(--bladehub-secondary-color);
}

/* ==================== ↓ Tertiary Color ==================== */
.widget .calendar_wrap tbody td > a:hover::before,
.wp-block-calendar tbody td a:hover::before {
  background-color: var(--bladehub-tertiary-color);
}

/* ==================== ↓ Quaternary Color ==================== */
mark {
  background-color: var(--bladehub-quaternary-color);
}

/* ==================== ↓ Button Color ==================== */
button,
.elementor-widget-slider_revolution .rev_slider_button,
.wpcf7 .wpcf7-submit,
.wpcf7 .home-1 .wpcf7-submit,
.wpcf7 .home-4 .wpcf7-submit,
.wpcf7 .coming-soon .wpcf7-submit,
.wpcf7 .faq .wpcf7-submit,
.wp-block-search .wp-block-search__button,
#comments input.submit,
form.post-password-form input[type=submit],
.wgl-demo-item .wgl-button {
  color: var(--bladehub-button-color-idle);
  border-color: var(--bladehub-button-border-idle);
  background-color: var(--bladehub-button-bg-idle);
}

button:hover,
button:focus,
button:active,
.elementor-widget-slider_revolution .rev_slider_button:hover,
.wpcf7 .wpcf7-submit:hover,
#comments input.submit:hover,
.wpcf7 .coming-soon .wpcf7-submit:hover,
.wp-block-search .wp-block-search__button:hover,
form.post-password-form input[type=submit]:hover,
.wgl-demo-item .wgl-button:hover {
  color: var(--bladehub-button-color-hover);
  border-color: var(--bladehub-button-border-hover);
  background-color: var(--bladehub-button-bg-hover);
}

/* ==================== ↓ Additional ==================== */
/* Footer CSS */
.footer_top-area .calendar_wrap thead,
.footer_top-area .wp-block-calendar thead,
.footer_top-area strong,
.footer_top-area h1,
.footer_top-area h2,
.footer_top-area h3,
.footer_top-area h4,
.footer_top-area h5,
.footer_top-area h6,
.footer_top-area .title,
.footer_top-area .widget ul li,
.footer_top-area .widget_rss ul li .rsswidget,
.footer_top-area .widget_rss .rss-widget-title,
.footer_top-area .widget.widget_pages ul li a,
.footer_top-area .widget_nav_menu a,
.footer_top-area .widget.widget_wgl_posts .recent-posts-widget li > .recent-posts-content .post_title a,
.footer_top-area .widget.widget_archive ul li > a,
.footer_top-area .widget.widget_categories ul li > a,
.footer_top-area .widget.widget_meta ul li > a,
.footer_top-area .widget.widget_recent_comments ul li > a,
.footer_top-area .widget.widget_recent_entries ul li > a,
.footer_top-area .widget.widget_archive ul li::before,
.footer_top-area .widget.widget_categories ul li::before,
.footer_top-area .widget_search .search-form .search__icon,
.footer_top-area ul.wp-block-archives.wp-block-archives-list li a,
.footer_top-area .wp-block-calendar table,
.footer_top-area .wp-block-calendar .wp-calendar-nav span a,
.footer_top-area ul.wp-block-categories.wp-block-categories-list li a,
.footer_top-area .wp-block-latest-comments__comment .wp-block-latest-comments__comment-meta,
.footer_top-area ul.wp-block-latest-posts li a,
.footer_top-area .widget_product_search .woocommerce-product-search .search__icon,
.footer_top-area .select2-container--default .select2-selection--single .select2-selection__rendered,
.footer_top-area .woocommerce ul.cart_list li a,
.footer_top-area .woocommerce ul.product_list_widget li a,
.footer_top-area .logged-in a:hover,
.footer_top-area .widget_rss li cite,
.footer_top-area .widget .logged-in a {
  color: var(--bladehub-footer-heading-color);
}
.footer_top-area .widget.widget_categories ul li a::before,
.footer_top-area .widget.widget_product_categories ul li a::before,
.footer_top-area .widget.widget_layered_nav ul li a::before,
.footer_top-area .widget.woocommerce-widget-layered-nav ul li a::before,
.footer_top-area .widget.widget_archive ul li a::before,
.footer_top-area ul.wp-block-archives li a::before,
.footer_top-area ul.wp-block-categories li a::before {
  color: var(--bladehub-footer-heading-color);
}
.footer_top-area .widget_rss .rssSummary,
.footer_top-area .widget_rss li .rss-date,
.footer_top-area .widget .recent-post-content,
.footer_top-area .widget_text .textwidget,
.footer_top-area .wp-caption-text,
.footer_top-area .wp-caption .wp-caption-text,
.footer_top-area label,
.footer_top-area .wp-block-latest-comments__comment .wp-block-latest-comments__comment-excerpt,
.footer_top-area .widget_shopping_cart .widget_shopping_cart_content,
.footer_top-area .wp-block-latest-posts__post-excerpt,
.footer_top-area .wp-block-rss .wp-block-rss__item-excerpt {
  color: var(--bladehub-footer-content-color);
}
.footer_top-area .bladehub_widget > ul li:hover::before,
.footer_top-area .widget_rss .title a.rsswidget:hover,
.footer_top-area .widget_recent_entries ul li .post-date,
.footer_top-area .widget_nav_menu li.current-menu-ancestor > a,
.footer_top-area .widget_nav_menu li.current-menu-item > a,
.footer_top-area .recent-posts-widget .post__link:hover .post__title,
.footer_top-area .widget ul li a:hover,
.footer_top-area .widget ul li a:hover .post_count,
.footer_top-area .widget_recent_entries > ul > li > a:hover::before,
.footer_top-area ul.wp-block-latest-posts li a:hover::before,
.footer_top-area .widget_meta.widget > ul li a:hover::before,
.footer_top-area .wp-block-calendar tfoot a, .footer_top-area .wp-block-rss a:hover,
.footer_top-area .bladehub_widget > ul li:hover::before,
.footer_top-area .widget_rss ul li .rsswidget:hover,
.footer_top-area ul.wp-block-archives.wp-block-archives-list li a:hover .post_count,
.footer_top-area ul.wp-block-categories.wp-block-categories-list li a:hover .post_count,
.footer_top-area ul.wp-block-categories.wp-block-categories-list li a:hover::before,
.footer_top-area .widget_search .search-form .search-button:hover ~ .search__icon,
.footer_top-area .widget_search .search-form .wc-block-product-search__button:hover,
.footer_top-area .widget_product_search .woocommerce-product-search .search-button:hover ~ .search__icon,
.footer_top-area .widget_product_search .woocommerce-product-search .wc-block-product-search__button:hover,
.footer_top-area .wc-block-product-search__fields .search-button:hover ~ .search__icon,
.footer_top-area .wc-block-product-search__fields .wc-block-product-search__button:hover {
  color: var(--bladehub-footer-heading-color);
}
.footer_top-area .widget.widget_categories ul li a:hover::before,
.footer_top-area .widget.widget_product_categories ul li a:hover::before,
.footer_top-area .widget.widget_layered_nav ul li a:hover::before,
.footer_top-area .widget.woocommerce-widget-layered-nav ul li a:hover::before,
.footer_top-area .widget.widget_archive ul li a:hover::before,
.footer_top-area ul.wp-block-archives li a:hover::before,
.footer_top-area ul.wp-block-categories li a:hover::before {
  color: var(--bladehub-footer-heading-color);
}
.footer_top-area aside > .widget + .widget::before,
.footer_top-area .widget_meta ul li a:hover::after,
.footer_top-area .widget_postshero .recent-posts-widget .post_cat a,
.footer_top-area .widget_nav_menu .current-menu-item > a::before,
.footer_top-area .widget_nav_menu .current-menu-ancestor > a::before,
.footer_top-area .widget_nav_menu .menu a:hover::before,
.footer_top-area .widget_nav_menu > ul a:hover::before,
.footer_top-area .widget_pages .menu a:hover::before,
.footer_top-area .widget_pages > ul a:hover::before {
  background-color: var(--bladehub-footer-heading-color);
}
.footer_top-area input[type=text],
.footer_top-area input[type=url],
.footer_top-area input[type=search],
.footer_top-area input[type=email],
.footer_top-area input[type=password],
.footer_top-area input[type=tel],
.footer_top-area input[type=time],
.footer_top-area input[type=number],
.footer_top-area input[type=date],
.footer_top-area select,
.footer_top-area textarea,
.footer_top-area .select2-container--default .select2-selection--single,
.footer_top-area .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input,
.footer_top-area .wp-block-search.wp-block-search__button-outside .wp-block-search__inside-wrapper .wp-block-search__input,
.footer_top-area .wp-block-search.wp-block-search__no-button .wp-block-search__inside-wrapper .wp-block-search__input {
  border-color: rgba(255, 255, 255, 0.45);
}
.footer_top-area .wp-block-search .wp-block-search__button {
  color: var(--bladehub-footer-heading-color);
  border-color: var(--bladehub-footer-heading-color);
}
.footer_top-area .wp-block-latest-comments__comment .wp-block-latest-comments__comment-date,
.footer_top-area .widget_rss {
  color: #969696;
}

.footer .copyright {
  color: var(--bladehub-copyright-content-color);
}